.contact-us-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 110px;
  gap: 140px;
  background: #ffffff;
}

.contact-us-section form .form-control {
  border-radius: 8px;
  font-size: 16px;
}

.contact-us-section h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-us-section p {
  font-size: 16px;
  color: #333;
}