<div class="contact-us-section">
  <div class="row w-100">
    <!-- Левая сторона: форма -->
    <div class="col-md-6">
      <h2><span class="orange-text">Свяжитесь</span> с нами</h2>
      <p>Остались вопросы? Мы всегда готовы помочь ...</p>

      <form>
        <div class="row mb-3">
          <div class="col">
            <label for="name" class="form-label">Имя</label>
            <input type="text" id="name" class="form-control" placeholder="Введите ваше имя">
          </div>

          <div class="col">
            <label for="phone" class="form-label">Номер</label>
            <input type="text" id="phone" class="form-control" placeholder="Введите номер телефона">
          </div>
        </div>

        <div class="mb-3">
          <label for="msg" class="form-label">Напишите нам сообщение</label>
          <textarea id="msg" class="form-control" rows="5" placeholder="Введите сообщение..."></textarea>
        </div>

        <button class="btn btn-primary">Отправить сообщение</button>
      </form>
    </div>

    <!-- Правая сторона: изображение -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img src="assets/images/sent-message.png" alt="Contact us" class="img-fluid rounded shadow-sm" style="max-width: 65%; height: auto;">
    </div>
  </div>
</div>
